*~
.env
.java-version
.idea
.cache
.classpath
.project
lib_managed/
project/boot/
project/build/target/
project/plugins/project/build.properties
src_managed/
log/
target/
*.eml
*.iml
*.ipr
*.iws
.*.sw?
